<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link href="/style.css">
    <title>Nunjucks Demo</title>
</head>

<body>
    {% include "../_partials/header.html" ignore missing %}

    <h1>This is index.html</h1>

    {% block content %}
    <p>This is the default content from index.html, it can be brought in by using "super()"</p>
    {% endblock %}

    {% include "../_partials/footer.html" ignore missing %}
</body>

</html>