{% extends "pages/index.html" %}

{% block content %}
<div class="container">
    <h2>{{michael[0].first_name}}</h2>
    <br>
    <img src="{{ michael[0].avatar }}" alt="headshot">
    <br>
    <p>{{ michael[0].email }}</p>

    <a href="/janet" class="btn btn-outline-primary">Get Janet</a>
    <a href="/" class="btn btn-primary">Go to home</a>
    <br>
    <p>Credit to <a href="https://reqres.in" target="_blank" rel="noopener">https://reqres.in</a></p>

</div>
<script>

</script>
{% endblock %}